*
{
    margin: 0;
    padding: 0;
}
.secondary_btn
{
    width: 102px;
    height: 51px;
    border: 1px solid #6c63FF;
    border-radius: 2px;
    background-color: transparent;
    font-family: 'openSanMine';
    font-style:normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #6c63FF;
    text-transform: capitalize;
    margin-right: 16px;
}
.primary_btn
{
    width: 140px;
    height: 51px;
    background:#6c63FF;
    border: 1px solid #6c63FF;
    border-radius: 2px;
    font-family: 'openSanMine';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}